<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) and current_conference? %>
        <%= yield :title %> | <%= current_conference.try :title %>
      <% elsif !content_for?(:title) and current_conference? %>
        <%= current_conference.try :title %>
      <% else %>
        <%= yield :title %>
      <% end %>
    </title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= stylesheet_link_tag    "initfest/application", media: "all" %>
    <%= javascript_include_tag "initfest/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'public/shared/nav' %>
    <section class="content">
      <%= render 'public/shared/flash_messages' unless flash.empty? %>
      <%= yield %>
    </section>
    <footer class="clear">
      <div id="copyright">© 2015 OpenFest. Some Rights Reserved.</div>
    </footer>
  </body>
</html>
