<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for? :title %>
        <%= yield :title %> |
      <% end %>
      <%= @current_conference.try :title %>
    </title>

    <%= stylesheet_link_tag    "open_fest/application", media: "all" %>
    <%= javascript_include_tag "open_fest/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'open_fest/shared/nav' %>
    <section class="content">
      <%= yield %>
    </section>
  </body>
</html>
