<nav class="menu">
  <ul class="sf-menu sf-js-enabled">
    <%= content_tag :li, class: [('current_page_item' if controller_name == 'home')] do %>
      <%= link_to 'Начало', root_path %>
    <% end %>

    <% unless user_signed_in? %>
      <%= content_tag :li, class: [('current_page_item' if controller_name == 'sessions')] do %>
        <%= link_to "Вход", new_user_session_path %>
      <% end %>
    <% else %>
      <%= content_tag :li, class: [('current_page_item' if controller_name == 'lectures')] do %>
        <%= link_to "Лекции", lectures_path %>
      <% end %>
      <%= content_tag :li, class: [('current_page_item' if controller_name == 'workshops')] do %>
        <%= link_to "Уъркшопи", workshops_path %>
      <% end %>
      <%= content_tag :li, class: [('current_page_item' if controller_name == 'registrations')] do %>
        <%= link_to "Редакция на профил", edit_user_registration_path %>
      <% end %>
      <li>
        <%= link_to "Изход", destroy_user_session_path, method: :delete %>
      </li>
    <% end %>

    <li>
      <a href="#">English</a>
    </li>
  </ul>
</nav>
