<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= Conference.current.title %>
      <%= yield :title if content_for? :title %>
    </title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'http://openfest.org/wp-content/themes/thematic-openfest/style.css' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper" class="hfeed">
      <header id="header">
        <div id="branding">
	  <div id="blog-title">
	    <span>
              <a href="http://openfest.org/" title="OpenFest" rel="home">
                <img src="//openfest.org/images/logo-header.png" alt="OpenFest" />
              </a>
            </span>
	  </div>
	  <h1 id="blog-description"><%= t(:of_motto)%></h1>
	</div><!--  #branding -->

	<div id="access">
          <%= render partial: '/layouts/nav' %>
	</div><!-- #access -->
      </header>

      <div id="main">
        <%= render('/shared/flash_messages') unless flash.empty? %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
